################################################
###############  .gitignore   ##################
################################################
.DS_STORE
.DS_Store
nbproject
.idea
.resources
.node_history
**/.ipynb_checkpoints/
.ipynb_checkpoints
Data/*